<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="CCTrace.CCDBConnectionString" connectionString="Host=localhost;Port=5432;Database=CCDB;Username=postgres;Password=admin;Persist Security Info=True" providerName="Npgsql" />
    <add name="deltaTecServer" connectionString="Data Source=10.207.40.200;Initial Catalog=Gen2;Persist Security Info=True;User ID=GEN2;Password=1234" />
  </connectionStrings>
  
  <appSettings>
    <add key="productTxBx" value="^([A-Z]){2}\d{11}([A-Z]){2}\d{9}$" />
    <!--  final regex for the carrier
        ^(BMW|VOLVO)\/OBC\/(TOP|BOT)\/\d{4}\/\d{2}$-->
    <!--  test regex for the carrier
        ^(BMW|VOLVO).*(BOT|TOP).*$-->
    <add key="carrierTxbx" value="^(BMW|VOLVO)\/OBC\/(TOP|BOT)\/\d{4}\/\d{2}$"/>
    <add key="lacquerApproval" value="leader_approval" /> <!-- length not be 12 or 24-->
    <add key="batchTxbx" value="^([A-Z]){2}\d{4}$" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
</configuration>